body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232323;
    padding: 10px 20px;
}

.site-title {
    color: #666666;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666666;
    font-weight: normal;
    font-size: 18px;
    transition: opacity 0.3s ease; /* Add a transition for smoothness */
}

.menu li a:hover {
    opacity: 0.75; /* Lower opacity on hover */
}

.centered-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    color: #ffffff; /* White text color */
    opacity: 0;
}

.hi-text {
    font-size: 128px; /* Adjust the font size for "Hi." */
    font-family: 'Inter', sans-serif;
}

.plecakserce-text {
    font-size: 55px; /* Adjust the font size for "I'm plecakserce." */
    font-family: 'Inter', sans-serif;
    margin-top: 20px; /* Add some margin between "Hi." and "I'm plecakserce." */
}

/* New styles for content div, image frame, and example text */
.content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align elements to the left */
    margin-top: 272px; /* Move the content downwards by 250px */
    padding-left: 650px; /* Move the content slightly to the left */
    opacity: 0;
}

.image-frame {
    width: 250px;
    height: 250px;
    border: 5px solid #ccc;
    overflow: hidden;
    margin-right: 20px;
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 40px;
    background-image: linear-gradient(5deg, rgb(0, 0, 160), rgb(228, 0, 0), rgb(0, 0, 160), rgb(228, 0, 0));
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent; /* Set the text color to transparent to make the gradient visible */
    padding-bottom: 70px; /* Move the text up to align with the top of the image frame */
    margin-left: -3px; /* Reset the left margin to align with the image frame */
}

.text-container {
    display: flex;
    flex-direction: column; /* Arrange the text in a column */
}

.additional-text {
    color: white;
    font-size: 20px;
    text-align: left; /* Align the text to the left */
    margin: 0; /* Reset margin for consistent alignment */
    transform: translateY(-60px);
    margin-bottom: 10px;
}

.projects {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
    opacity: 0;
}

.column {
    flex: 1; /* Make both columns grow to occupy equal space */
    text-align: center;
    margin: 150px; /* Reduce the margin to align the columns closer */
}

.header {
    font-size: 100px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.project-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 0px;
    text-align: center;
    margin-top: 20px
}

.project-list li a {
    text-decoration: none;
    font-size: 40px;
    color: white;
    transition: opacity 0.3s ease;
}

.project-list li a:hover {
    opacity: 0.75;
}

.github-icon {
    width: 30px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change the cursor to a pointer when hovering */
    transform: translateY(5px);
}
