body {
    background: #101010 url("bg.jpg") no-repeat center 0 fixed;
    color: #000;
    -webkit-background-size: 110% auto;
    -moz-background-size: 110% auto;
    -o-background-size: 110% auto;
    background-size: 110% auto;
}

#header-wrap, #lightbox-wrap, .tabs-nav span, .create-rss-widget, .lightbox-help span, .ui-widget-header, #external-app-bar {
    background-color: #1a6162;
}

#control-panel, #accordion, .accordion-heading, #add-favourite .add, .save-btn, .incorrect-details a, .add-widget, #create-rss input[type="submit"], #create-notice input[type="submit"], #font-sizer a.selected, .f-ok, .f-close {
    background-color: #bc9a69;
}

.widget-content, .theme, #email em, #lightbox-wrap h2, #email.widget h3, .lightbox-help, .badge-name, .your-badge .badge-name span, #profile span, #lightbox-wrap, .current-badge, .g-search input[type="submit"], .clock-date .date, .current-conditions .txt .deg, .clock-date .month-year, .current-conditions .txt .condition, .current-conditions, .rss-item a, .rss-item h3, .rss-item .date, .rss-item p, .profile-details, .clock-date {
    color: #a8a8a8;
}

.widget-head {
    background: url("widget-head-bg.png") no-repeat 0 0 !important;
}

#calculator .widget-content {
    width: 208px;
}

#google-map .widget-content {
    width: 202px;
}

.widget-head.widget-collapsed {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.widget-content {
    width: 192px;
    border: none 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: url("widget-content-bg.png") repeat-y 0 0;
}

.widget-btm {
    display: block;
    width: 222px;
    height: 22px;
    background: url("widget-btm.png") no-repeat 0 0;
}

.widget-double .widget-head {
    width: 462px;
    background: url("widget-head-double-bg.png") no-repeat 0 0 !important;
}

#column1 > li.widget-double .widget-content {
    width: 432px;
}

.widget-double .widget-content {
    background: url("widget-content-double-bg.png") repeat-y 0 0;
}

.widget-double .widget-btm {
    width: 462px;
    background: url("widget-double-btm.png") no-repeat 0 0;
}

.widget-triple .widget-head {
    width: 702px;
    background: url("widget-head-triple-bg.png") no-repeat 0 0 !important;
}

#column1 > li.widget-triple .widget-content {
    width: 682px;
}

.widget-triple .widget-content {
    background: url("widget-content-triple-bg.png") repeat-y 0 0;
}

.widget-triple .widget-btm {
    width: 702px;
    background: url("widget-triple-btm.png") no-repeat 0 0;
}

#auppic {
    background-position: 0 0;
}

#footer, #footer #aup, #tab-head h1 {
    color: #5e5d5d;
}
/*Style sheet for Password Expiry alert content Index.aspx page.*/
.password-expiry-notification {
    text-align: center;
    width: 100%;
    border: 2px double #ff0000;
    background-color: #ffffff;
    margin-top: 5px;
    padding-top: 5px; 
    font-weight: bold;
    margin-left: -5px;
    float: left;
    color:#FF0000 !important;
}
 .password-expiry-notification  a {
    color:#FF0000 !important;
    text-decoration: underline;
    }