/* Theme switcher CSS */
.theme-custom-dropdown .custom-dropdown {
  position: relative;
  display: inline-block;
  font-size: 18px;
  width: 150px;
  user-select: none;
}

.theme-custom-dropdown .custom-dropdown-selected {
  padding: 8px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.theme-custom-dropdown .custom-dropdown-selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  border: 5px solid transparent;
  border-top-color: #333;
  transform: translateY(-50%);
}

.theme-custom-dropdown .custom-dropdown-widget {
  position: relative;
  z-index: 1;
  overflow: visible;
}

.theme-custom-dropdown .custom-dropdown-options {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  z-index: 1;
  border-radius: 5px; /* Add rounded edges */
}

.theme-custom-dropdown .custom-dropdown-option {
  padding: 8px;
  cursor: pointer;
}

.theme-custom-dropdown .custom-dropdown-option:hover {
  background-color: #ddd;
}
