body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#banner {
    background-image: url("../images/Contour.png");
    background-color: #232323;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    /* Freeze the banner in place */
    width: 100%;
    height: 150px; /* Set your desired height here */
    text-align: center; /* Center the content horizontally */
    z-index: 500;
}

#banner h1 {
    margin: 0;
}

#logo {
    width: 100px;
    height: 100px;
    background-color: transparent;
    overflow: hidden;
    justify-content: left;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#content {
    margin-top: 175px;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    transition: font-size 0.3s ease;
    opacity: 0;
}

#content h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

#content .placeholder {
    font-family: "Inter", sans-serif;
    animation: gentleShake 10s infinite;
}

#settings {
    margin-top: 3px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    transition: font-size 0.3s ease;
    opacity: 0;
    position: relative;
    overflow-x: hidden;
    justify-content: center;  /* aligns horizontally in the center */
    align-items: center;     /* aligns vertically in the center */
    text-align: center; /* Center the app lists horizontally */
}

#settings h2 {
    margin-bottom: 5px;
}

#apps {
    padding: 20px;
    color: #FFFFFF;
    transition: font-size 0.3s ease;
    opacity: 0;
    position: relative;
    overflow-y: hidden;
    text-align: center; /* Center the app lists horizontally */
}

.app-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Display app lists as inline-block elements */
    overflow-y: hidden;
    text-align: left; /* Left-align text within app lists */
    vertical-align: top; /* Align the app lists to the top */
}

.app-list-container {
    width: calc(25% - 1px); /* Set the width to 25% of the container with margin */
    margin-right: 9px; /* Add spacing between containers */
    padding: 20px;
    color: #FFFFFF;
    transition: font-size 0.3s ease;
    opacity: 1; /* Adjust opacity as needed */
    display: inline-block; /* Display app lists as inline-block elements */
    vertical-align: top; /* Align the app lists to the top */
    overflow-y: hidden;
}

.app-list-container:last-child {
    margin-right: 0; /* Remove margin from the last container */
}

#apps h2 {
    margin-bottom: 20px;
}

.app-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.app-icon {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex: 0 0 auto
}

.app-icon img {
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
    
}

.app-info {
    display: flex;
    align-items: center;
}

.app-name {
    flex: 1;
    font-family: 'Inter', sans-serif;
    /* Use the Inter font for app name */
}

.rounded-button {
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-left: 100px; /* Adjust the value as needed */
}

.circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    justify-content: right;
    float: right;
    margin-top: 15px;
    right: 15px;
    position: absolute;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    box-sizing: border-box;
    padding-top: 45px;
    padding-right: 110px; /* Move the buttons to the left by 10px */
}

.sidebar-btn {
    font-family: 'Inter', sans-serif;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #232323;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: 2px solid black;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#sidebar:hover {
    width: 175px;
}

.sidebar-btn:hover {
    background-color: #ffffff;
    color: #232323;
}

.copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0.2;
    flex: 0 0 auto
}

.btn-click-animation {
    animation: clickAnimation 0.2s ease;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.colorful {
    transition: background-color 0s ease, color 0s ease;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

input[type="text"]::placeholder {
    color: #ffffff;
    opacity: 0.7;
}

button.save-button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #232323;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

button.save-button:hover {
    background-color: #f0f0f0;
}

button.save-button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    /* Black text */
    font-family: 'Inter', sans-serif;
    /* Use the Inter font */
    cursor: pointer;
}

button.save-button:hover {
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.prerelease {
    position: absolute;
    top: 0;
    left: calc(50% - 85px); /* Adjust the width (200px) to half of your label's width */
    border-radius: 20px;
    background: linear-gradient(135deg, #0045ed, #bd48ff);
    padding: 5px 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 127px; /* Set a fixed width for your label */
}

.prerelease p {
    margin: 0;
    font-weight: bold;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.sidebar-btn-inverted {
    color: #232323;
    background-color: #ffffff;
}

.sidebar-btn-inverted:hover {
    color: #ffffff;
    background-color: #232323;
}

.button-container {
    text-align: center; /* Center the buttons horizontally */
}