#widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.widget-row {
    display: flex;
    justify-content: center;
}

.rounded-square {
    width: 500px;
    height: 400px;
    background-color: #151515;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 30px 50px 30px 50px;
    overflow: hidden;
}

.title-bar {
    background-color: #4c28d2;
    width: 105%;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.title-text {
    color: white;
    margin: 5px;
}

.widget-content {
    flex: 1;
    padding: 5px;
}

.notepad {
    width: 470px;
    height: 340px;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    resize: none;
    border: 1px solid #ffffff;
    outline: none;
    color: #ffffff;
    background-color: #151515;
    margin-left: 6px;
    margin-top: 3px;
}

.canvas-style {
    width: 470px;
    height: 340px;
    margin-left: 10px;
    margin-top: 3px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 6px;
}

#myInput {
    display: flex;
}

#inputContainer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}

.addBtn {
    padding: 5px 10px;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    color: #151515;
    border-radius: 15px;
}

#myUL {
    list-style-type: none;
    padding: 0px;
    color: white;
}

#myUL li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.taskText {
    white-space: nowrap;
    padding-right: 3ch;
}

.myUL-checkbox {
    margin-right: 10px;
}

.close {
    cursor: pointer;
    margin-left: auto;
}

.open-button {
    font-family: Inter, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #262626;
    color: #FFFFFF;
    cursor: pointer;
    justify-content: right;
}

#weatherImage {
    display: inline-block;
    width: 50%;
}

#dateAndTemp {
    display: inline-block;
    width: 50%;
}

#widgetContent {
    text-align: center;
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
}

#widgetContent button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 16px;
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    background-color: transparent;
    cursor: pointer;
}

#widgetContent input#output {
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5%;
    width: 250px;
    height: 50px;
    background-color: transparent;
}

#widgetContent button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.bottom-row {
    text-align: right;
    margin-right: 118px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

input[type='search'] {
    color: white;
    font-family: 'Inter', sans-serif;
    width: 340px;
    background: transparent;
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
}

.search-submit {
    background: white;
    border-radius: 20%;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #151515;
    cursor: pointer;
}

#currency-converter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#amount, #from-currency, #to-currency {
    width: 92%;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #151515 !important;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    font-family: 'Inter', sans-serif;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

#convert {
    width: 20%;
    height: 23px;
    margin: 10px 0;
    background-color: #232323;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
}

#convert:hover {
    background-color: #000000;
}

#result {
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
    color: white;
    text-align: center;
}

select {
    color: black;
}
